node_modules/

dist/

build/

.parcel-cache/

map.js
parcel-bundle-reports/default.html
tempCodeRunnerFile.js
menu.js
coverage
sum.js
__tests__
jest.config.ts
babel.config.js
.parcelrc
